h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
    color: aliceblue;
    text-align: center;
}

body{
    background-color: #311936;
    background-image: url('galaxy.png');

}

div{
    background-color: darkslateblue;
    margin: auto;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    border-width: 30px 20px;
    text-align: center;
}

.menu{
    border-radius: 10px;
    background-color: indigo;
    height: 40px;
}

.menu a{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: aliceblue;
    text-decoration: none;
}

button{
    padding: 0;
    border: none;
    background: none;
}

.button_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: none;
}

.logo_button{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 20px;
    fill: #311936;   
}
 
#profile_picture{
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    align-content: center;
}

.recents_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
   
}

.recents_grid_item{
    width: 100%;
}

.recents_grid_item img{
        max-width: 100%;
        height: 50%;
        display: block;   
}

p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
      color: aliceblue; 
    text-align: center; 
}
